@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .normal {
        @apply bg-normal;
    }
    .fighting {
        @apply bg-fighting;
    }
    .flying {
        @apply bg-flying;
    }
    .poison {
        @apply bg-poison;
    }
    .ground {
        @apply bg-ground;
    }
    .rock {
        @apply bg-rock;
    }
    .ghost {
        @apply bg-ghost;
    }
    .steel {
        @apply bg-steel;
    }
    .grass {
        @apply bg-grass;
    }
    .fire {
        @apply bg-fire;
    }
    .bug {
        @apply bg-bug;
    }
    .electric {
        @apply bg-electric;
    }
    .psychic {
        @apply bg-psychic;
    }
    .water {
        @apply bg-water;
    }
    .ice {
        @apply bg-ice;
    }
    .fairy {
        @apply bg-fairy;
    }
    .dragon {
        @apply bg-gradient-to-b from-fromDragon to-toDragon;
    }
    .dark {
        @apply bg-dark;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}