@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .grass {
        @apply bg-grass;
    }
    .fire {
        @apply bg-fire;
    }
    .fighting {
        @apply bg-grass;
    }
    .poison {
        @apply bg-fire;
    }
    .bug {
        @apply bg-grass;
    }
    .water {
        @apply bg-fire;
    }
    .ice {
        @apply bg-grass;
    }
    .fairy {
        @apply bg-fire;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}